@import './vars.scss';

.hero{
  background-image: url('../static/background.png');
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $black;
  width: 100%;
  height: auto;
  font-family: $font;
  .titleZone{
    padding-top: 150px;
    .title{
      display: flex;
      justify-content: center;
      .logo{
        width: 200px;
      }
    }
    .subtitle{
      display: flex;
      justify-content: center;
      color: $white;
      font-size: 36px;
      font-weight: 700;
    }
  }
  .buttonBar{
    display: flex;
    justify-content:space-around;
    margin-bottom: 100px;
    .buttonStudents{
      margin-left: 70px;
    }
    .buttonStaff{
      margin-right: 70px;
    }
  }
  .cardSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .footer{
    visibility: hidden;
  }
}

.selectButton{
  width: 26vw;
  height: 67px;
  border: 2px solid $purpleActive;
  border-radius: 4px;
  outline: none;
  background-color: $gray;
  color: $white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  &:hover{
    background-color: $purpleHover;
  }
  &:focus {
    background-color: $purpleActive;
  }
}

@media only screen and (max-width: 600px){
  .hero{
    background-image: none;

  }
}